
.logo{

	background-color: white;
	padding: 1px;
	width: 100%;
	position: fixed;
	top: 0px;

}


.logo h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	text-decoration:  none;
	color: black;
	font-size: 48px;

}
